
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz@1,9..40&family=Fira+Sans:wght@500&family=Inter:wght@500&family=Merriweather:ital@1&family=Roboto:ital,wght@0,700;1,100;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&family=Roboto+Condensed&family=Rubik&display=swap');

body{
    background: #EEEEEE;

}
*{
    padding: 0;
    margin: 0;
}
.login-kotta{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.teper-login{
    width: 627px;
height: 400px;
border-radius: 35px;
background-color: #ffffff;
display: flex;
align-items: center;
justify-content: center;
margin: auto;
text-align: center;
}
.teper-login h1{
   
font-size: 30px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0em;
text-align: center;
color: #000000;
}
.login_butoon button{
    width: 370px;
    height: 60px;
    padding: 20px 0px 20px 0px;
    border-radius: 12px;
    gap: 10px;
    border: none;
    outline: none;
    margin-bottom:15px;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 600;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
cursor: pointer;
transition: 0.4s;
}
.login-ichi{
  display: block;
}
.login_butoon button:hover{
    background: #FFCB13;
}
.login-ichi h1{
    position: relative;
    top: -30px;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Roboto', sans-serif;
}
@media (max-width:665px) {
    .teper-login {
        width: 80%;
        height: 400px;
        border-radius: 35px;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        text-align: center;
    }
    .login_butoon button {
        width: 100%;
        height: 60px;
        padding: 20px 0px 20px 0px;
        border-radius: 12px;
        gap: 10px;
        border: none;
        outline: none;
        margin-bottom: 15px;
        font-family: 'DM Sans', sans-serif;
        font-family: 'Fira Sans', sans-serif;
        font-family: 'Inter', sans-serif;
        font-family: 'Merriweather', serif;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
        cursor: pointer;
        transition: 0.4s;
    }

    .teper-login1{
        width: 90% !important;
    height: 460px;
    border-radius: 35px;
    background-color: #ffffff;
    
    text-align: center;
    }
}
@media (max-width:516px) {
    .teper-login h1 {
        font-size: 6vw;
        font-weight: 800;
        line-height: 37px;
        letter-spacing: 0em;
        text-align: center;
        color: #000000;
    }
    .page2-ichi h1 {
        font-family: 'DM Sans', sans-serif;
        font-family: 'Fira Sans', sans-serif;
        font-family: 'Inter', sans-serif;
        font-family: 'Merriweather', serif;
        font-family: 'Roboto', sans-serif;
        font-size: 6.5vw !important;
        font-weight: 600;
        line-height: 37px;
        letter-spacing: 0em;
        text-align: center;
        padding-left: 15px !important;
    }
    .page2-login-inp{
        width: 80% !important;
    height: auto;
    margin: auto;
    margin-top: 20px;
    }
    .page-2-but {
       
        max-width: 108% !important;
    }
    .page3-form{
        margin: auto;
        text-align: center;
        width: 80% !important;
        margin-top: 30px;
        
    }
    .checboc-block1{
    width: 100% !important;
height: 40px;
border-bottom: 2px solid #E7E7E7;
text-align: left;
display: flex;
gap: 20px;
}
    
}

.teper-login1{
    width: 627px;
height: 460px;
border-radius: 35px;
background-color: #ffffff;
text-align: center;
}
.nazat{
    display: flex;
    justify-content: end;
    padding: 20px;
   
}
.nazat box-icon{
    cursor: pointer;
}
.page2-login-inp{
    margin-top: 50px;
}
.page2-ichi h1{
    font-family: 'DM Sans', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Roboto', sans-serif;
font-size: 30px;
font-weight: 600;
line-height: 37px;
letter-spacing: 0em;
text-align: center;
}
.page2-login-inp{
    width: 350px;
height: auto;
margin: auto;
margin-top: 20px;
}
.page2-login-inp input{
    width: 100%;
    margin-top: 15px;
height: 60px;
border-radius: 12px;
border: 1px;
border: 1px solid #E7E7E7;
outline: none;


}
.page2-login-inp input[placeholder]{
    padding-left: 20px;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Rubik', sans-serif;
font-size: 17px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
color: #979797;
}

.page-2-but{
    width: 370px;
}
.page-2-but button{
    width: 100%;
height: 60px;
padding: 20px 0px 20px 0px;
border-radius: 12px;
gap: 10px;
border: none;
outline: none;
margin-top: 30px;
background: #FFCB13;
font-family: 'DM Sans', sans-serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 600;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
cursor: pointer;
}
.page2-login-inp p{
    font-family: 'DM Sans', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0em;
text-align: center;
color: #000000;
cursor: pointer;
margin-top: 20px;
}
@media (max-width:590px) {
    .page2-ichi{
        padding-right: 20px;
    }
}
.page2-ichi3 h1{
    font-family: 'DM Sans', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Roboto', sans-serif;
font-size: 30px;
font-weight: 600;
line-height: 37px;
letter-spacing: 0em;
text-align: center;
}
.checboc-block1{
    width: 370px;
height: 40px;
border-bottom: 2px solid #E7E7E7;
text-align: left;
display: flex;
gap: 20px;
}
.page3-form{
    margin: auto;
    text-align: center;
    width: 370px;
    margin-top: 30px;
}
.checboc-block1 input{
    width: 21px;
height: 21px;
}
.checboc-block1 p{
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
cursor: pointer;
}
.page_form-checboc1{
    margin-top: 25px;
}
.page3-form button{
    width: 100%;
    height: 60px;
    padding: 20px 0px 20px 0px;
    border-radius: 12px;
    gap: 10px;
    border: none;
    outline: none;
    margin-top: 30px;
    background: #FFCB13;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    cursor: pointer;
    margin-top: 25px;
}
.login_page button{
    transition: 0.5s all;
}
.page_form-checboc1 input[radio]{
    background-color: #FFCB13 !important;
}



/* page5 */
.teper-login5{
width: 627px;
height: 649px;
border-radius: 35px;
background-color: #ffffff;

}

.img-x{
    display: flex;
    justify-content: space-between;
}
.login-x{
    padding: 20px;
}
.login-x box-icon{
    cursor: pointer;
}
.login-img{
    position: relative;
    right: 54px;
    top: -35px;
}
.fizika-litso{
    margin: auto;
    text-align: center;
    position: relative;
    top: -160px;
}
.fizika-litso h1{
    font-family: 'DM Sans', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Roboto', sans-serif;
font-size: 30px;
font-weight: 600;
line-height: 37px;
letter-spacing: 0em;
text-align: center;

}
.fizika-litso p{
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Rubik', sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0em;
text-align: center;
}
.fizika-inputla input{
    width: 370px;
    margin-top: 10px;
height: 60px;
border-radius: 12px;
border: 1px;
border: 1px solid #E7E7E7;
outline: none;
margin-bottom: 0px;
}
.fizika-inputla input[placeholder]{
    padding-left: 20px;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Rubik', sans-serif;
font-size: 17px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
color: #979797;
}
.fizika-inputla button{
    width: 385px;
    height: 60px;
    margin-top: 40px;
    border-radius: 12px;
    gap: 10px;
    border: none;
    outline: none;
    margin-bottom:15px;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 600;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
cursor: pointer;
transition: 0.4s;
}
.fizika-inputla button:hover{
    background-color: #FFCB13;
}


@media (max-width:730px) {
    .teper-login5 {
        width: 550px;
        height: 649px;
        border-radius: 35px;
        background-color: #ffffff;
    }
    .fizika-inputla input {
        width: 300px;
        margin-top: 10px;
        height: 60px;
        border-radius: 12px;
        border: 1px;
        border: 1px solid #E7E7E7;
        outline: none;
        margin-bottom: 0px;
    }
    .fizika-inputla button{
        width: 320px;
        height: 60px;
        margin-top: 40px;
        border-radius: 12px;
        gap: 10px;
        border: none;
        outline: none;
        margin-bottom:15px;
        font-family: 'DM Sans', sans-serif;
        font-family: 'Fira Sans', sans-serif;
        font-family: 'Inter', sans-serif;
        font-family: 'Merriweather', serif;
        font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
    }
}
@media (max-width:630px) {
    .teper-login5 {
        width: 470px;
        height: 649px;
        border-radius: 35px;
        background-color: #ffffff;
    }
    .fizika-inputla input {
        width: 240px;
        margin-top: 10px;
        height: 60px;
        border-radius: 12px;
        border: 1px;
        border: 1px solid #E7E7E7;
        outline: none;
        margin-bottom: 0px;
    }
    .fizika-inputla button{
        width: 260px;
        height: 60px;
        margin-top: 40px;
        border-radius: 12px;
        gap: 10px;
        border: none;
        outline: none;
        margin-bottom:15px;
        font-family: 'DM Sans', sans-serif;
        font-family: 'Fira Sans', sans-serif;
        font-family: 'Inter', sans-serif;
        font-family: 'Merriweather', serif;
        font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
    }
}
@media (max-width:557px) {
    .teper-login5 {
        width: 430px;
        height: 649px;
        border-radius: 35px;
        background-color: #ffffff;
    }
    .fizika-inputla input {
        width: 280px;
        margin-top: 10px;
        height: 60px;
        border-radius: 12px;
        border: 1px;
        border: 1px solid #E7E7E7;
        outline: none;
        margin-bottom: 0px;
    }
    .fizika-inputla button{
        width: 300px;
        height: 60px;
        margin-top: 40px;
        border-radius: 12px;
        gap: 10px;
        border: none;
        outline: none;
        margin-bottom:15px;
        font-family: 'DM Sans', sans-serif;
        font-family: 'Fira Sans', sans-serif;
        font-family: 'Inter', sans-serif;
        font-family: 'Merriweather', serif;
        font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
    }
    .login-img{
        display: none;
    }
    .fizika-litso {
        margin: auto;
        text-align: center;
        position: relative;
        top: 0;
    }
    .img-x {
        display: flex;
        justify-content: end;
    }
}
@media (max-width:510px) {
    .teper-login5 {
        width: 80%;
        height: 649px;
        border-radius: 35px;
        background-color: #ffffff;
    }
    .fizika-inputla input {
        width: 80%;
        margin-top: 10px;
        height: 60px;
        border-radius: 12px;
        border: 1px;
        border: 1px solid #E7E7E7;
        outline: none;
        margin-bottom: 0px;
    }
    .fizika-inputla button{
        width: 85%;
        height: 60px;
        margin-top: 40px;
        border-radius: 12px;
        gap: 10px;
        border: none;
        outline: none;
        margin-bottom:15px;
        font-family: 'DM Sans', sans-serif;
        font-family: 'Fira Sans', sans-serif;
        font-family: 'Inter', sans-serif;
        font-family: 'Merriweather', serif;
        font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
    }
}
.teper-login1{
    width: 627px;
height: 517px;
border-radius: 35px;
background-color: #ffffff;
text-align: center;
}
.fizika-litso1{
    margin: auto;
    text-align: center;
}
.fizika-litso1 p{
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Rubik', sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0em;
text-align: center;

}


.fizika-inputla1 input{
    width: 370px;
    margin-top: 10px;
height: 60px;
border-radius: 12px;
border: 1px;
border: 1px solid #E7E7E7;
outline: none;
margin-bottom: 0px;
}
.fizika-inputla1 input[placeholder]{
    padding-left: 20px;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Rubik', sans-serif;
font-size: 17px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
color: #979797;
}
.fizika-inputla1 button{
    width: 385px;
    height: 60px;
    margin-top: 40px;
    border-radius: 12px;
    gap: 10px;
    border: none;
    outline: none;
    margin-bottom:15px;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 600;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
cursor: pointer;
transition: 0.4s;
}
.fizika-inputla1 button:hover{
    background-color: #FFCB13;
}
@media (max-width:491px) {
    .fizika-inputla1 input{
        width: 80%;
        margin-top: 10px;
    height: 60px;
    border-radius: 12px;
    border: 1px;
    border: 1px solid #E7E7E7;
    outline: none;
    margin-bottom: 0px;
    }

    .fizika-inputla1 button{
        width: 85%;
        height: 60px;
        margin-top: 40px;
        border-radius: 12px;
        gap: 10px;
        border: none;
        outline: none;
        margin-bottom:15px;
        font-family: 'DM Sans', sans-serif;
        font-family: 'Fira Sans', sans-serif;
        font-family: 'Inter', sans-serif;
        font-family: 'Merriweather', serif;
        font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
    }
}